<footer class="footer">
	<span class="todo-count"><strong>{{allTodos.length}}</strong> item left</span>
	<!-- <ul class="filters">
		<li>
			<a [routerLink]="['/all']" [class.selected]="path === 'all'">All</a>
		</li>
		<li>
			<a  [routerLink]="['/active']" [class.selected]="path === 'active'">Active</a>
		</li>
		<li>
			<a [routerLink]="['/completed']" [class.selected]="path === 'completed'">Completed</a>
		</li>
	</ul> -->
	<button class="clear-completed" (click)="clearCompleted()">Clear completed</button> 
</footer>