 <div class="todo-input-wrapper">
	<form  (ngSubmit)="addTodo()">
		<input id="todo-input" name="todo-input" type="text" [(ngModel)]="todoText" value="{{todoText}}" placeholder="Title">
		<br>
		<br>
		<!-- <input type="text" name="todo-desc" class="todo-input" [(ngModel)]="todoDesc" value="{{todoDesc}}" placeholder="Enter Description" max="100"> -->
		<textarea placeholder="Enter Description" name="todo-desc" class="todo-input description" [(ngModel)]="todoDesc" maxlength="100"></textarea>
		<button class="btn btn-submit" type="button" (click)="addTodo()" [disabled]="!todoText || !todoDesc">Add Todo</button>
		
	</form>
</div>