<div class="todoWrapper">
		
		<div [class.completed]="todo.completed" class="todo-container">
			<input type="checkbox" class="checkbox" (click)="toggleCompleted()" [checked]="todo.completed">

			<button class="btn btn-primary" (click)="edit($event)" type="button">Edit</button>
			<button class="btn btn-danger" type="button" (click)="removeTodo()">Delete</button>

			<div class="modal" *ngIf="editing">
				<div class="modal-content">
					<h2>Update Todo</h2>
					<form (ngSubmit)="updateTodo()">
						<input type="text" name="title" [(ngModel)]="todoText" class="updateTitle"><br><br>
						<textarea name="desc" [(ngModel)]="todoDesc" class="updateDesc" rows="3"></textarea>
						<br>

						<button class="btn btn-primary" type="submit">Update</button>
						<button class="btn btn-danger" (click)="edit()" type="button">Cancel</button>
					</form>
				</div>
			</div>

			<h2 class="title">{{todo.text}}</h2>
			<p class="description">{{todo.description}} </p>
		</div>
		
		<div class="time" *ngIf="!todo.edited_at">
			Created: {{todo.created_at | time }}
		</div>
		<div class="time" *ngIf="todo.edited_at">
			Edited: {{todo.edited_at | time }}
		</div>
	
</div>