.todo-wrapper{
	margin: 20px auto;
	width: 600px;
	background-color: #fff;
}

@media screen and (max-width: 480px) {
	.container{
		max-width: 400px;
	} 
	app-todo-item{
		max-width: 400px;
	}
}

.sorting{
	padding-left: 20px;
}

.btn{
	border: none;
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.btn-primary{
	background-color: #148BE0;
	margin-right: 5px;
}

.btn-danger{
	background-color: #F25A4A;
}